/* .container {
  display: grid;
  grid-auto-flow: column;
  padding: 24px;
}

.block {
  display: grid;
  row-gap: 16px;
  width: 200px;
}

.block.btn {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 16px;
} */